<section>
    <h1>Mentions légales</h1>
        <p>Dernière mise à jour : novembre 2025</p>

    
    <h2>1. Éditeur du site</h2>
        <p>
            Le site AlgExplore est un projet réalisé dans le cadre d'une formation au titre professionnel de
            Concepteur Développeur d'Applications (CDA). Ce site n'a aucun but commercial et ne représente pas une société réelle.
        </p>
        <p>
            Responsable de publication : Katia ZOUAD<br />
            📧 katia.zouad&#64;gmail.com<br />
            📍 Projet scolaire - Simplon / Ministère du Travail - RNCP niveau 6
        </p>

    <h2>2. Hébergement</h2>
        <p> Le site est hébergé à titre pédagogique sur : </p>

    <h2>3. Conception & développement</h2>
        <p>Conception et développement : Katia ZOUAD<br />Formation Simplon - CDA - Session 2026</p>
            <ul>
                <li>Front-end : Angular</li>
                <li>Back-end : ExpressJS + Prisma + PostgreSQL</li>
                <li>Base de données hébergée localement via Docker</li>
            </ul>

    <h2>4. Propriété intellectuelle</h2>
        <p> L'ensemble du contenu de ce site (textes, logos, éléments graphiques, code
            source, etc.) est protégé par le droit d'auteur. Toute reproduction totale
            ou partielle est interdite sans autorisation préalable.
        </p>

        <p>Les images utilisées proviennent de banques libres de droits (ex. Unsplash, Pexels).</p>

    <h2>5. Responsabilité</h2>
        <p>
            Ce site a une vocation pédagogique et démonstrative. L'auteur ne saurait être tenu
            responsable d'erreurs, d'omissions ou de l'interprétation des informations
            mises à disposition.
        </p>

    <h2>6. Données personnelles</h2>
        <p>
            Les données collectées dans le cadre du projet (comptes utilisateurs, avis,
            favoris, etc.) ne sont exploitées qu'à des fins
            de démonstration technique. Elles ne sont ni partagées ni revendues.
        </p>
        <p>
            Conformément au RGPD, vous pouvez demander la suppression de vos données en
            écrivant à : 📧 katia.zouad&#64;gmail.com
        </p>

    <h2>7. Cookies</h2>
        <p>
            Le site AlgExplore utilise uniquement des cookies techniques indispensables au
            fonctionnement (session, sécurité). Aucun cookie publicitaire, d'analyse ou de
            mesure d'audience n'est installé.
        </p>
</section>