/* Couleurs */
$white: #FFFFFF;
$black: #000000;         
$kaki: #636C2F;
$beige: #FEF8F2;

/* Typographie */
$font :'Montserrat', sans-serif;

/* Border-radius */
$radius-soft: 5px;
$radius-full: 25px;

/* Breakpoints responsive */
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1440px;
